<!DOCTYPE html>
<html lang="en">

{{> header}}

<body>

  {{> logged_in_navbar email = email}}
      <div class="row" style="padding-top: 50px;">
        <div class = "col s4"></div>
        <div class = "col s2">{{{button}}}</div>
        <form action = "/recycle" method = "post">
          <button id="recyclebutton" class="col s2 btn btn-primary" style="background-color:indigo;"><i class="material-icons left">restore</i>RESTORE VISUALISATION</button>
        </form>
        <div class = "col s1"></div>
        <button id="visbutton" href="#vis-modal" class="col s2 btn btn-primary modal-trigger" style="background-color:indigo;"><i class="material-icons left">add</i>CREATE A VISUALISATION</button>
          <!-- Modal Structure -->
        <div id="vis-modal" class="modal">
          <form action="/vis/createvis" method="POST">
          {{> modal_form btnsubmit = 'Visualise'}}
          </form>
        </div>
      <div class = "col s1"></div>
      </div>
      <br>
      <div class="container" style="width: 85%;">
        <h4>Saved Visualisations</h4>
        <hr>
        <div class="row">
        {{#each list}}
          <div class="col s6">
            {{!-- <h2 class="header">{{this.name}}</h2> --}}
              <div class="card horizontal">
                <div class="card-stacked">
                  <div class="card-content">
                    <p>Years: {{this.years}}</p>
                    <p>Type: {{this.type_of_graph}}</p>
                    <p>Metric: {{this.data_to_vis}}</p>
                  </div>
                <div class="card-action">
                  <div class="col s4">
                    <form action = "/open/{{saved_id}}" method = "post">
                      <button id="openvisbutton" name="openvisbutton" class="btn btn-primary" style="background-color: indigo;"><i class="material-icons left">launch</i>Open</button>
                    </form>
                  </div>
                  <div class="col s4">
                    <button id="visbutton" href="#vis-update-modal" class=" btn btn-primary modal-trigger" style="background-color:indigo;"><i class="material-icons left">upgrade</i>Update</button>
                      {{!-- Modal Structure  --}}
                    <div id="vis-update-modal" class="modal">
                      <form action="/update/{{saved_id}}" method="POST">
                      {{> modal_form btnsubmit = 'Update'}}
                      </form>
                    </div>
                  </div>
                  <div class="col s4">
                    <form action = "/delete/{{saved_id}}" method = "post">
                      <button id="deletevisbutton" name="deletevisbutton" class="btn btn-primary" style="background-color: indigo;"><i class="material-icons left">delete</i>Delete</button>
                    </form>
                  </div>
                </div>
                </div>
              </div>
          </div>
        {{/each}}
        </div>
      </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script>
    function eventCheckBox() 
    {
      let checkboxs = document.getElementsByTagName("input");
      for(let i = 0; i < checkboxs.length ; i++) 
      {
        checkboxs[i].checked = !checkboxs[0].checked;
      }
    }
    function hidedata()
    {
      var data = document.getElementById("data_column");
      data.style.display = !data.style.display;
    }
  </script>
  <script type = "text/javascript" src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>           
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script>
  $(document).ready(function(){
    $('.modal').modal();
  });
  </script>
  <script>
         $(document).ready(function() {
            $('select').material_select();
            document.querySelectorAll('.select-wrapper').forEach(t => t.addEventListener('click', e=>e.stopPropagation()))
         });
  </script>
</body>

</html>